@model SearchViewModel

@{
    var title = "Candidates";
    ViewData["Title"] = title;
}


<div class="row">
    
    <div class="col-md-4">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="col-md-4">
        <form asp-action="Search">
            <select asp-for="SkillId" asp-items="ViewBag.AllSkills">
                <option disabled selected>--- SKILL ---</option>
            </select>
            <input type="submit" value="Search" class="btn btn-default" />
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Second Name
            </th>
            <th>
                Skills
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Candidates)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinedSkillNames)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
